<div class="container">
   <div id="header">
      <h1 class="text-center">QUOTA</h1>
<h2 class="text-center">Trending Quotes</h2>
   </div>
<div class="row">
<div class="col-md-6" id="quotes">
   <ol>
      <div class="box" *ngFor='let quote of quotes; let i= index' >
      <li appHighlighter><h3>{{quote.sentence}}</h3></li>
      <button (click)='toggleDetails(i)'  class="btn btn-primary">Details</button>
      <app-quote-details *ngIf='quote.showDescription' [quote]='quote' (isDelete) = 'deleteQuote($event,i)'></app-quote-details>
   </div>
   </ol>
</div>

<div class="col-md-6">
   <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
</div>
</div>

<div class="footer">
   <div><p>QUOTA</p></div>
   <div><P>2021</P></div>

</div>
</div>