/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-color: black;
    color: whitesmoke;
}
p{
    font-style: italic;
    color: lime;
}
button{
    margin: 10px;
}
